.newTask {
   display:flex;
   flex-direction: column;
   grid-area: new-task;
   background-color: #b96453;
   border-radius: 16px;
   box-shadow: 4px 8px 8px rgb(185 100 83 / 50%);
   padding: 24px;
 
   .inputContainer {
     display: flex;
     flex-direction: column;
     width: 100%;
     margin-bottom: 16px;
    
     label {
       margin-bottom: 8px;
       font-size: 1.25rem;
       width: auto;
     }
 
     input {
       width: 100%;
       padding: 8px 12px 4px;
       box-sizing: border-box;
       border: unset;
       border-radius: 5px;
       background-color: #4D4D4D;
       box-shadow: 0px 2px 2px #2D2B2B9F inset;
       
       &::placeholder {
         color: #BFBFBF;
       }
      
     }

   }

   .inputContainer2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .inputContainer {
      margin: 24px;
      width: 20%;
    }

   }

   .total {
    margin-top: 0.5em;
    font-size: 1.3em;
   }

   @media screen and (max-width: 730px){
    .inputContainer2 {
      flex-direction: column;
      width: auto;
      justify-content: center;

      .inputContainer {
        margin: 2px;
        width: 100%;
      }
    }
   }
 }